script.
  (function(window){
    window.CONFIG = {
      debug : #{DEBUG || 0},
      env : '#{ENV}',
      pattern : '#{PATTERN || ""}',
      staticUrlPrefix : '#{STATIC_URL_PREFIX}',
      template : '#{TEMPLATE}'
    };
    window.TIME_LINE = {
      logs : {},
      startTimes : {},
      time : function(tag){
        this.startTimes[tag] = new Date().getTime();
        return this;
      },
      timeEnd : function(tag, startTag){
        var startTimes = this.startTimes;
        var start = startTimes[tag] || startTimes[startTag];
        if(start){
          this.logs[tag] = new Date().getTime() - start;
        }
        return this;
      },
      getLogs : function(){
        return this.logs;
      }
    };
    window.TIME_LINE.time('html');
    window.onerror = function(msg, url , line, row, err){
      var stack = '';
      if(err){
        stack = err.stack;
      }
      if(CONFIG.env === 'development'){
        alert('msg:' + msg + ', url:' + url + ', line:' + line + ', row:' + row + ', stack:' + stack);
      }else{
        $.post('/errorlog', {msg : msg, url : url, line : line, row : row, stack : stack});
      }
    };
  })(this);